/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 10px 0;
}

img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

/* UTILITIES */
.width-70 {
  width: 70%;
}

/* FLEX */
.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-alignitems-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* HEADER */
.top-nav {
  ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Spazio tra le voci del menu */
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

/* JUMBOTRON */
.jumbotron {
  background-image: url(/jumbotron.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MAIN */

.section1 {
  background-color: black;
}
.section2 {
  background-color: #0282f9;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* LIST COMPONENT */
.ListComponent-container {
  position: relative;
  top: -1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .ListComponent-title {
    width: 164px;
    font-size: 1rem;
    color: white;
    background-color: #0282f9;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }

  .ListComponent-body {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  .ListComponent-button {
    span {
      width: 128px;
      font-size: 0.5rem;
      color: white;
      background-color: #0282f9;
      padding: 0.5rem 1rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .Card {
    width: calc(((100% / 12) * 2) - 15px);
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .img-container {
    overflow: hidden;
    aspect-ratio: 1;
  }

  img {
    max-width: 100%;
    min-width: 100%;
  }

  span {
    color: white;
  }
}

.bar {
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 10px;
  flex-wrap: nowrap;
}

.col {
  width: calc((100% / 12) * 3);
  text-align: center;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
  }

  span {
    margin-top: 5px;
    color: white;
    font-size: 9px;
  }
}

.main-list {
  color: white;

  ul {
    list-style: none;
    font-size: 11px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
    }
  }

  li {
    text-decoration: none;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.d-flex {
  display: flex;
}

.link-container {
  display: flex;
}

.section3 {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-image: url(/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;

  .col1 {
    display: flex;
    flex-direction: column;
  }

  .col-link {
    margin-right: 1rem;
  }
  h4 {
    color: white;
    margin-bottom: 0.5rem;
  }
  .shop {
    padding-top: 1rem;
  }
  li {
    list-style: none;
    font-size: 9px;
    line-height: 1rem;
  }

  a {
    text-decoration: none;
    color: grey;
  }

  .col-4 {
    width: calc((100% / 12) * 4);
  }
  .col-8 {
    width: calc((100% / 12) * 8);
    display: flex;
    margin-top: -6rem;
    margin-bottom: -6rem;
    justify-content: right;
    z-index: 1;

    img {
      position: absolute;
      width: 400px;
      z-index: 1;
    }
  }
}

.section4 {
  background-color: #303030;
  z-index: 100;
  position: relative;
}
.bottom {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  max-width: 80%;

  .signup-btn {
    background-color: #303030;
    padding: 0.5rem;
    color: white;
    border: 1px solid #0282f9;
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1rem;
  }

  img {
    height: 25px;
    width: 25px;
  }

  span {
    color: #0282f9;
    margin-right: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
  }
}
